html {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.topbar {
    position: sticky;
    z-index: 10;
    background-color: darkred;
    padding: 1% 2% 1% 2%;
}

header img {
    width: 5%;
    height: 5%;
}

body {
    background-color: white;
    margin: 0px;
}

body h1 p {
    font-family: 'Times New Roman', Times, serif;
    color: #303030;
}

.news {
    padding: 1% 8% 0% 8%;
}

.news h1 {
    text-align: center;
}

.newsp {
    padding: 0% 8% 0%;
    text-align: justify;
    font-size: 135%;
    flex-wrap: wrap;
}

.newsp img {
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
    flex-wrap: wrap;
}

.newsp video{
    width: 852px;
    height: 480px;
    pointer-events: none;
    display: block;
    margin: auto;
}